# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ChromeDownload\springboot26\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
